{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link rel="icon" href="{% static 'assets/img/highFashionWhite.png' %}" type="image/png">
        <title>{% block title %}High Fashion: Principal{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min2.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styleindex.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/stylefooter.css' %}">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-eA0uRAe5RSKxyEsdzjtCO+sw9yoQmP7dF41kwoyUqCgg9gkGlAcd4sP9JCJ6pCpm" crossorigin="anonymous">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    </body>
</html>