*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '', sans-serif;
}
h1 {
    font-family: serif;
    color: #3D3D3D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h2 {
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*nav*/
.navbar-nav .nav-link {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #3D3D3D;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    border: 1px solid transparent;
    padding: 18px 15px;
    border-radius: 5px;
    margin: 0 15px;
}

.navbar-nav .nav-link:hover {
    color: #B9C2C4;
}


/*modal login*/
.modal-content{
    position: relative;
    background: transparent;
    border: 2px solid #B9C2C4;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #B9C2C4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: '', sans-serif;
}
.modal-header .modal-title{
    color: #FFFFF5;
}
.modal-header .close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: #3D3D3D;
    color: #FFFFF5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}






.modal-body .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }

  .modal-body .input-box input {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #fffff5;
    background: transparent;
    color: #fffff5;
    outline: none;
  }

  .modal-body .input-box input:focus,
  .modal-body .input-box input:valid {
    border-bottom: 2px solid #fffff5;
  }

  .modal-body .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-165%);
    font-size: 1em;
    color: #fffff5;
    pointer-events: none;
    transition: 0.3s;
  }

  .modal-body .input-box input:focus~label,
  .modal-body .input-box input:valid~label {
    top: 0px;
    font-size: 0.8em;
    color: #fffff5;
  }

  .modal-body .input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #fffff5;
}










.modal-body .remember-forgot{
    font-size: .9em;
    color: #B9C2C4;
    font-weight: 500;
    margin: -15px 0 15px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}
.modal-body .remember-forgot label input{
    accent-color: #fffff5;
    margin-right: 3px;
}
.modal-body .remember-forgot a {
    color: #FFFFF5;
    text-decoration: none;
    margin-left: 30px;
}
.modal-body .remember-forgot a:hover{
    text-decoration: underline;
}
.footer-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cancelar,
.btn-entrar {
    margin: 35px; 
}
.footer-modal .btn-cancelar{
    background-color: transparent;
    border: 2px solid #B9C2C4;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #FFFFF5;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.footer-modal .btn-cancelar:hover{
    text-align: center;
    background: #3D3D3D;
    color: #3D3D3D;
}
.footer-modal .nav-link{
    color: #FFFFF5;
}
.footer-modal .btn-entrar{
    background-color: #947F57;
    border: 2px solid #FFFFF5;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #FFFFF5;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.footer-modal .btn-entrar:hover{
    text-align: center;
    background: #3D3D3D;
    color: #FFFFF5;
}
.footer-modal .nav-link{
    color: #FFFFF5;
}
.login-register{
    font-size: .9em;
    color: #B9C2C4;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: #FFFFF5;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}


/*footer*/
footer {
    background-color:  #B9C2C4;
    padding: 50px 0;
    text-align: center;
}
.container-footer h3 {
    font-size: 30px;
    color:#FFFFF5;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.icons .medias-socias {
    margin-top: 0px;
}

.icons .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #FFFFF5;
    border: 1px solid #FFFFF5;
    transition: all 0.5s ease;
}

.icons .medias-socias a i {
    align-items: center;
    font-size: 20px;
}

.icons .medias-socias a:hover {
    align-items: center;
    color: #3D3D3D;
    background-color: #FFFFF5;
}


/*cards*/
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s, transform 0.3s; /* Adicione transições para a sombra e transformação */
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px); /* Desloque o card para cima ao passar o mouse */
  }

  .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-body {
    text-align: center;
  }

  .btn-ver-mais {
    background-color: #947F57;
    color: #FFFFF5;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
  }

  .btn-ver-mais:hover {
    justify-content: center;
    background-color: #B9C2C4;
 }


/*barra de pesquisa*/
.search-bar-container {
    text-align: center;
    padding: 40px 0;
}

.search-input {
    border: none; /* Remova a borda */
    border-radius: 30px; /* Borda arredondada */
    padding: 10px 20px; /* Preenchimento interno */
    box-shadow: 0 4px 8px #B9C2C4; /* Adicione uma sombra suave */
    transition: box-shadow 0.3s; /* Transição suave para a sombra */
}

.btn-search {
    margin-left: 10px; /* Margem à esquerda para separação do botão */
    box-shadow: 0 4px 8px #3D3D3D; /* Adicione uma sombra suave */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    background-color: #B9C2C4;
    color: #FFFFF5;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer
}

.search-input:focus {
    outline: none; /* Remova o contorno ao focar no campo de pesquisa */
    box-shadow: 0 4px 8px #B9C2C4; /* Altere a sombra ao focar */
}

.btn-search:hover {
    background-color: #947F57;
}


/*modal card*/
.modal-content{
    padding-top: 10%;
    position: relative;
    background: transparent;
    border: 2px solid #B9C2C4;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #B9C2C4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: '', sans-serif;
}
.modal-content .fechar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: #3D3D3D;
    color: #FFFFF5;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}


/*dicas*/
header {
    background-color:  #B9C2C4;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.spring {
    background-color: #a1d4a5; 
    padding: 3%;
}

.spring h2, .spring p {
    color: #154734; 
    margin-left: 2%;
    margin-right: 2%;
}

.spring p {
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.spring::before {
    content: '\1F33A'; /* Emoji de flor */
    font-size: 2em;
    display: block;
    text-align: center;
    color: #154734;
}

.spring::after {
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #a1d4a5; 
}

.summer {
    background-color: #b3e0ff;
    padding: 3%;
}

.summer h2, .summer p {
    color: #1f497d;
    
}

.summer p {
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}

.summer::before {
    content: '\1F30A'; /* Emoji de onda */
    font-size: 2em;
    display: block;
    text-align: center;
    color: #1f497d;
}

.summer::after {
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #a1d4a5;
}

.autumn {
    background-color: #800020;
    padding: 3%;
}

.autumn h2, .autumn p {
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.autumn p {
    font-weight: bold;
}

.autumn::before {
    content: '\1F342'; /* Emoji de folha */
    font-size: 2em;
    display: block;
    text-align: center;
    color: #800020;
}

.winter {
    background-color: #793d11; 
    padding: 3%;
}
.winter p {
    font-weight: bold;
}

.winter h2, .winter p {
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.winter::before {
    content: '\1F36B'; /* Emoji de chocolate */ 
    font-size: 2em;
    display: block;
    text-align: center;
    color: #8b4513;
}


.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #f0f0f0; /* Cor de fundo para os cards */
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.section-container {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
}



/* #947F57
#B9C2C4
#3D3D3D */

.contraste-estampas {
    background-color: #B9C2C4; 
    padding: 9%;
    min-height: 200px;
    flex-grow: 1; 
}

.contraste-estampas p {
    color: #3D3D3D; 
    margin-left: 2%;
    margin-right: 2%;
}

.contraste-estampas p {
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.contraste-estampas::before {
    font-size: 2em;
    display: block;
    text-align: center;
    color: #B9C2C4;
}

.contraste-estampas::after {
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #B9C2C4; 
}


.contraste-estampas h2 {
    padding: 3px;
}

.contraste-estampas{
    flex-grow: 1; 
}

.cores {
    background-color: #B9C2C4; 
    padding: 9%;
    min-height: 200px;
    flex-grow: 1; 
}

.cores  h2, .cores  p {
    color: #3D3D3D; 
    margin-left: 2%;
    margin-right: 2%;
}

.cores  p {
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.cores ::before {
    font-size: 2em;
    display: block;
    text-align: center;
    color: #3D3D3D;
}

.cores ::after {
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #B9C2C4; 
}

.cores h2 {
    padding: 3px;
}



.complementar {
    background-color: #B9C2C4; 
    padding: 9%;
    min-height: 200px;
    flex-grow: 1; 
}

.complementar  p {
    color: #3D3D3D; 
    margin-left: 2%;
    margin-right: 2%;
}

.complementar p {
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.complementar ::before {
    font-size: 2em;
    display: block;
    text-align: center;
    color: #3D3D3D;
}

.complementar ::after {
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #B9C2C4; 
}

.complementar h2 {
    padding: 3px;
}

.complementar{
    flex-grow: 1; 
}

.neutra {
    background-color: #B9C2C4;
    padding: 9%;
    min-height: 200px;
    flex-grow: 1; 
}

.neutra p {
    font-weight: bold;
    color: #3D3D3D;
    margin-left: 2%;
    margin-right: 2%;
}

.neutra::before {
    font-size: 2em;
    display: block;
    text-align: center;
    color: #B9C2C4;
}


.neutra h2 {
    padding: 3px;
}



.destaque {
    background-color: #B9C2C4; 
    padding: 9%;
    min-height: 200px;
    flex-grow: 1; 
}

.destaque p {
    font-weight: bold;
    color: #3D3D3D;
    margin-left: 2%;
    margin-right: 2%;
}

.destaque::before {
    font-size: 2em;
    display: block;
    text-align: center;
    color: #B9C2C4;
}

.destaque h2 {
    padding: 3px;
}




.acessorio {
    background-color: #B9C2C4; 
    padding: 9%;
    min-height: 200px;
    flex-grow: 1; 
}

.acessorio p {
    font-weight: bold;
    color: #3D3D3D;
    margin-left: 2%;
    margin-right: 2%;
    
}

.acessorio::before {
    font-size: 2em;
    display: block;
    text-align: center;
    color: #B9C2C4;
}

.acessorio h2 {
    padding: 3px;
}

