{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--Titulo-->
    <title>{% block title %}Fotos Listas{% endblock %}</title>
    <!--Header-->
    {% include 'partials/header.html' %}
    <!--Main-->
    <main class="bg-gray">
        <h1>Lista de Fotos</h1>
        <ul>
            {% for ix in fotos %}
            <li>{{ ix.titulo }} por {{ ix.autor }}</li>
            <li>
              {% if ix.foto %}
                  <img src="{{ ix.foto.url }}" alt="capa-de-livros" width="10%">
              {% else %}
                  <p>foto não encontrada</p>
              {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>
    <!--Footer-->
    {% include 'partials/footer.html' %}
{% endblock %}
