{% extends 'layouts/catalogo.html' %}
{% load static %}
{% block content %}
{% include 'partials/user/catalog/dash_nav.html' %}	
{% include 'partials/alerts.html' %}
<style>
/*barra de pesquisa*/
.search-bar-container {
    text-align: center;
    padding: 40px 0;
}

.search-input {
    border: none; /* Remova a borda */
    border-radius: 30px; /* Borda arredondada */
    padding: 10px 20px; /* Preenchimento interno */
    box-shadow: 0 4px 8px #B9C2C4; /* Adicione uma sombra suave */
    transition: box-shadow 0.3s; /* Transição suave para a sombra */
}

.btn-search {
    margin-left: 10px; /* Margem à esquerda para separação do botão */
    box-shadow: 0 4px 8px #3D3D3D; /* Adicione uma sombra suave */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    background-color: #B9C2C4;
    color: #FFFFF5;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer
}

.search-input:focus {
    outline: none; /* Remova o contorno ao focar no campo de pesquisa */
    box-shadow: 0 4px 8px #B9C2C4; /* Altere a sombra ao focar */
}

.btn-search:hover {
    background-color: #947F57;
}
</style>
<br><br>
    <div class="search-bar-container position-absolute top-10 start-50 translate-middle mt-1">
		<form class="d-flex" method="GET" action="{% url 'catalogo' %}" >
			<input class="form-control me-2 search-input" type="search" placeholder="Pesquisar" aria-label="Search" name="q" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #B9C2C4;">
			<button class="btn-search" type="submit" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">Buscar</button>
		</form>
	</div>
	<div class="container mt-5"> <!-- Ajuste da margem superior para dar espaço ao título -->
		<div class="photo-list">
            <h2>Produtos</h2><br>
			<div class="row row-cols-1 row-cols-md-4 g-3">
				{% for foto in fotos %}
					<div class="col">
						<div class="card">
							<img src="{{ foto.foto.url }}" class="card-img-top" alt="{{ foto.titulo }}" width="300px" height="200px">
							<div class="card-body">
							    <h5 class="card-title text-left">Título: {{foto.titulo}}</h5>
							    <p class="card-text text-left">Preço: <strong style="color: #154734;font-family:Arial Black;">R${{foto.preco}}</strong></p>
							    <p class="card-text text-left">Descrição: {{foto.descricao}}</p>
							    <p class="card-text text-left">Gênero: {{foto.genero}}</p>
							    <p class="card-text text-left">Tipo: {{foto.tipo}}</p>
							    <p class="card-text text-left">Tamanho: {{foto.tamanho}}</p>
							    <p class="card-text text-left">Tecido: {{foto.tecido}}</p>
							    <p class="card-text text-left">Marca: {{foto.marca}}</p>
							    <p class="card-text text-left">Autor: {{foto.autor.username}}</p>
							    <p class="card-text text-left">Publicação: {{foto.data_foto}}</p>
							    <div>
								    <a href="{% url 'edit_fotos' foto.id %}" class="btn" style="background-color: rgb(202, 136, 13); border: #FFFFF5; border-radius:5px; color: #fffff5;">
								  	    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
								    </a>
								    <a href="{% url 'delete_fotos' foto.id %}" class="btn" style="background-color: rgb(206, 10, 10); border: #FFFFF5; border-radius:5px; color: #fffff5;">
								   	    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
								    </a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
        </div>
    </div><br>
{% endblock %}
