{% extends 'layouts/adminbase.html' %}
{% load static %}
{% block content %}
	<!-- for header part -->
	{% include 'partials/admin/header.html' %}
	{% include 'partials/admin/sidebar.html' %}
	{% include 'partials/alerts.html' %}
		<div class="main">
			<form method="post" class="custom-form">
				{% csrf_token %}
				<div class="form-group">
					{{ register_form.username.label_tag }}
					{{ register_form.username }}
				</div>
				<div class="form-group">
					{{ register_form.email.label_tag }}
					{{ register_form.email }}
				</div>
				<div class="form-group">
					{{ register_form.password.label_tag }}
					{{ register_form.password }}
				</div>
				<div class="form-group">
					{{ register_form.password_confirm.label_tag }}
					{{ register_form.password_confirm }}
				</div>
				<button type="submit" class="custom-button">Adicionar Usuário</button>
			</form>
		</div>
{% endblock %}
