{% extends 'layouts/adminbase.html' %}
{% load static %}
{% block content %}
	<!-- for header part -->
	{% include 'partials/admin/header.html' %}
	{% include 'partials/admin/sidebar.html' %}
	<div class="main">
        {% include 'partials/alerts.html' %}
        <form method="POST" action="{% url 'update_user' user.id %}" enctype="multipart/form-data" class="custom-form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="custom-button">Editar Usuário</button>
        </form>
    </div>
{% endblock %}
        