{% extends 'layouts/catalogo.html' %}
{% load static %}
{% block title %}High Fashion: Dicas{% endblock %}
{% block content %}
{% include 'partials/user/catalog/header_catalog.html' %}
{% include 'partials/user/catalog/modals.html' %}

    <div id="carouselExample" class="carousel slide position-relative">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'assets/img/compre_agora.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <header>
        <h1 class="h2" style="font-family: serif; color: #3D3D3D;">Dicas de Moda</h1>
    </header><br>
        
        <h2 class="h2" style="font-family: serif; color: #3D3D3D;">Cores da Estação</h2><br>
    
    <!-- cards cores -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col col-3">
                <div class="card h-100" style="background-color: #a1d4a5">                
                    <div class="spring">
                        <h2>Verde Menta</h2><br>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #154734;">Fresco e calmante. Experimente tons de verde menta nesta primavera.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100" style="background-color: #b3e0ff;">                
                    <div class="summer">
                        <h2>Azul-Piscina</h2><br>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #1f497d;">Tonalidade de azul suave e refrescante. Destaque-se com o azul-piscina neste verão!.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100" style="background-color: #800020;">               
                    <div class="autumn">
                        <h2>Borgonha</h2><br>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #fffff5;">Vermelho escuro, rico e quente. Adicione um toque de borgonha ao seu guarda-roupa de outono.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100" style="background-color: #793d11;">
                    <div class="winter">
                        <h2>Marrom</h2><br>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #fffff5;">Cor terrosa e versátil. Abraçe o marrom para um look elegante neste inverno.</p>
                    </div>
                </div>
            </div>
        </div><br>
        <!-- cards cores -->

        
        <h2 class="h2" style="font-family: serif; color: #3D3D3D;">Acessórios Elegantes</h2><br>
        <!-- cards acessorios -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Brincos Statement</h2>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Brincos grandes e chamativos podem adicionar um toque de sofisticação a qualquer look.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Lenços de Seda</h2>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Lenços de seda podem ser usados de várias maneiras, seja amarrado no pescoço, nos pulsos ou como um acessório de cabelo.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Bolsas de Designer</h2>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Adicionar imagens de bolsas de designer famosas pode destacar a qualidade e o estilo dos produtos que você oferece.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Luvas de Couro</h2>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Luvas de couro são uma opção elegante, especialmente durante os meses mais frios.</p>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a5.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Pulseiras de Couro ou Metal</h2>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Pulseiras bem escolhidas podem adicionar um toque de personalidade ao visual.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Relógios Clássicos</h2>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Um relógio elegante é um acessório atemporal que nunca sai de moda.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a7.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Chapéus de Aba Larga</h2>
                        <p class="card-text"  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Chapéus podem ser uma escolha elegante, especialmente em estações mais quentes.</p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/a8.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Colares Delicados</h2>
                        <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Colares delicados podem ser usados ​para dar um toque sutil e elegante ao pescoço.</p>
                    </div>
                </div>
            </div>
        </div><br>
        <!-- cards acessorios -->
        
        <h2 class="h2" style="font-family: serif; color: #3D3D3D;">Mix de Estampas</h2><br>

        <!-- cards estampas -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
            <div class="card h-100">
                <div class="contraste-estampas">
                    <h2>Contraste de Tamanhos de Estampa</h2>
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Misture estampas de diferentes tamanhos para criar um contraste interessante. Combine padrões grandes com padrões menores para um look equilibrado.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <div class="cores">
                    <h2>Mantenha a Paleta de Cores Coesa</h2>
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Mantenha uma paleta de cores consistente entre as estampas. Isso ajuda a criar um visual coeso mesmo com padrões diferentes.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <div class="neutra">
                    <h2>Use uma Estampa Neutra como Base</h2>
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Se você é iniciante no mix de estampas, comece com uma peça estampada mais neutra (listras, pois são versáteis) e adicione outra estampa mais ousada.</p>
                </div>
            </div>
            </div>
        </div><br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
            <div class="card h-100">
                <div class="complementar">
                    <h2>Combine Estampas Complementares</h2>
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Combine estampas que se complementam, como listras com florais ou xadrez com bolinhas. Isso cria um visual mais equilibrado.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <div class="destaque">
                    <h2>Use uma Peça de Destaque</h2>
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Escolha uma peça de destaque com uma estampa mais pronunciada e misture com estampas mais sutis para evitar sobrecarregar o visual.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <div class="acessorio">
                    <h2>Acessórios com Estampas</h2>
                    <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Se não se sentir confortável com roupas estampadas, comece com acessórios, como lenços ou bolsas, para experimentar o mix de estampas.</p>
                </div>
            </div>
            </div>
        </div><br>

        <div class="container">
            <div class="row">
                    <div class="col-md">
                        <div class="section-container">
                            <h2>Confiança é a Chave</h2><br>
                            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">A atitude é crucial. Se você se sente bem com o que está vestindo, isso reflete na sua aparência. Confiança é a chave para fazer o mix de estampas funcionar.</p>
                        </div>
                    </div>
            </div>
        </div><br>
    </div>
    {% include 'partials/user/footer.html' %}
{% endblock %}