{% extends 'layouts/catalogo.html' %}
{% load static %}
{% block content %}
{% include 'partials/user/catalog/header_catalog.html' %}
{% include 'partials/user/catalog/modals.html' %}
{% include 'partials/alerts.html' %}
    <!-- carrossel -->
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'assets/img/1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/img/2.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/img/3.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <style>
        .payment-options {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .payment-option {
            margin-right: 10px;
            padding: 20px 50px;
            font-size: 14px;
            color: #fff;
            background-color: #947F57;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .payment-option:hover {
            background-color: #B9C2C4;
        }
      </style>

<header>
  <h1 class="h2" style="font-family: serif; color: #3D3D3D;">Promoções Especiais</h1>
</header><br><br>
<h2 class="h2" style="font-family: serif; color: #3D3D3D;">Não perca nossas ofertas exclusivas! Descontos incríveis em toda a loja.</h2>
    
      <div class="payment-options">
          <a href="#" class="payment-option" style="font-size: 20px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">Até <br> 70% Off</a>
          <a href="#" class="payment-option"  style="font-size: 20px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">Parcele Suas Compras <br> Até 12x Sem Juros.</a>
          <a href="#" class="payment-option"  style="font-size: 20px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">Confira Nossas <br> Novidades</a>
      </div><br><br>

      <div class="container">
        <div class="row row-cols-1 row-cols-md-5 g-3">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Vestidos</h2>
                        <div class="button-container">
                          <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repita a estrutura semelhante para outros cards -->
            <!-- Card 2 -->
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/5.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Blusas</h2>
                        <div class="button-container">
                          <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Calças</h2>
                        <div class="button-container">
                          <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col">
              <div class="card h-100">
                  <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Shorts</h2>
                      <div class="button-container">
                        <a class="nav-link" href="../catalogo">
                              <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                  Catálogo
                              </button>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
            <!-- Card 5 -->
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Novidades</h2>
                        <div class="button-container">
                          <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
      <!-- cards -->
      <header>
        <h1 class="h2" style="font-family: serif; color: #3D3D3D;">Últimos Lançamentos</h1>
      </header><br>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-5 g-3">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Vestidos</h2>
                        <div class="button-container">
                          <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repita a estrutura semelhante para outros cards -->
            <!-- Card 2 -->
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/5.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Blusas</h2>
                        <div class="button-container">
                          <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Calças</h2>
                        <div class="button-container">
                          <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col">
              <div class="card h-100">
                  <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Shorts</h2>
                      <div class="button-container">
                        <a class="nav-link" href="../catalogo">
                              <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                  Catálogo
                              </button>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
            <!-- Card 5 -->
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #3D3D3D;">Novidades</h2>
                        <div class="button-container">
                            <a class="nav-link" href="../catalogo">
                                <button type="button" class="btn-ver-mais" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFF5;">
                                    Catálogo
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets/img/banner.jpg' %}" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  {% include 'partials/user/footer.html' %}
{% endblock %}