{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %}High Fashion: Sobre{% endblock %}
{% block content %}
    {% include 'partials/user/others/navbar.html' %}
    <div id="carouselExample" class="carousel slide position-relative">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'assets/img/compre_agora.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h1>Termos de Uso do High Fashion - Polaris</h1>
                    <p>Bem-vindo ao High Fashion, uma jornada emocionante no mundo da moda oferecida pela <a href="https://polarissoftwares.github.io/site/" target="_blank">Polaris</a>. Antes de mergulhar no universo de estilos marcantes e inspiradores, pedimos que leia atentamente nossos Termos de Uso. Ao acessar e utilizar nosso site, você concorda e aceita os termos descritos abaixo.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>1. Propósito e Missão:</h2>
                    <p>O High Fashion é mais do que uma plataforma de moda; é uma expressão de estilo, inovação e elegância. Nossa missão é proporcionar uma experiência única, onde cada visita ao nosso site é uma jornada inesquecível no mundo da moda contemporânea.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>2. Acesso ao Catálogo:</h2>
                    <p>Explore nosso catálogo repleto de produtos cuidadosamente selecionados. Descubra as últimas tendências, preços competitivos e informações detalhadas sobre cada item. Lembre-se, a moda é uma forma de arte, e aqui, cada peça conta uma história.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>3. Login e Personalização:</h2>
                    <p>Para uma experiência mais envolvente, oferecemos a opção de criar uma conta. Ao fazer login, você terá acesso a recursos personalizados, como listas de desejos, recomendações exclusivas e um acompanhamento personalizado de suas compras.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>4. Responsabilidades do Usuário:</h2>
                    <p>Ao utilizar o High Fashion, compromete-se a fornecer informações precisas e atualizadas. Qualquer atividade realizada em sua conta é de sua responsabilidade. Seu login é pessoal e não deve ser compartilhado.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>5. Direitos Autorais e Propriedade Intelectual:</h2>
                    <p>Todos os conteúdos presentes no High Fashion são propriedade exclusiva da Polaris. O uso não autorizado de imagens, textos ou design é estritamente proibido.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>6. Comunidade High Fashion:</h2>
                    <p>Encorajamos um ambiente positivo e respeitoso entre os usuários. Comentários, avaliações e interações devem ser construtivos. Reservamo-nos o direito de remover conteúdos ofensivos.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>7. Privacidade e Segurança:</h2>
                    <p>Comprometemo-nos a proteger suas informações pessoais. Consulte nossa Política de Privacidade para entender como lidamos com dados sensíveis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>8. Modificações nos Termos:</h2>
                    <p>A Polaris reserva-se o direito de modificar estes Termos de Uso a qualquer momento. Recomendamos que os usuários revejam regularmente este documento para estar cientes de eventuais alterações.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="section-container">
                    <h2>9. Contato:</h2>
                    <p>Para questões, sugestões ou esclarecimentos, entre em contato conosco através dos meios disponíveis em nosso site:</p><a href="https://polarissoftwares.github.io/site/" target="_blank" rel="noopener noreferrer"><strong>Clique Aqui</strong></a>
                    <hr>
                    <p>
                        Agradecemos por escolher o High Fashion - Polaris. Desfrute da sua jornada na moda!<br>
                        Última atualização: 28/11/2023
                    </p>
                </div>
            </div>
        </div>
    </div><br>
    {% include 'partials/user/footer.html' %}
{% endblock %}