{% load static %}
    <!--MODAL LOGIN-->
    <!-- <div class="modal fade" id="staticBackdroplogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" action="{% url 'login' %}">
            <div class="modal-body">
              <div class="d-flex justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <h1 class="display-6 mb-0">Login</h1>
                    </div>
                </div>
              </div>
              <hr class="border border-2 opacity-50">
              {% csrf_token %}
                <div class="mb-3">
                    <div class="form-floating mb-3">
                      <label  for="floatingInput">Email:</label>
                      {{ user_form.email }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                      <label for="floatingPassword">Senha:</label>
                      {{ user_form.senha }}
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div id="emailHelp" class="form-text">Esqueceu sua senha? <a href="#" style="color:#FFAE2E;">Clique aqui</a></div>
                  </div>
                  <div class="col">
                    <div id="emailHelp" class="form-text text-end me-1">Não é registrado? <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropRegister" style="color:#FFAE2E;">Criar conta</a></div>
                  </div>
                </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
              </div>
            </div>
            <div style="background-color: #FFAE2E;" class="modal-footer d-flex flex-wrap gap-2 align-items-center justify-content-center justify-content-lg-start">
              <button  type="button" style="border-color: #203540;" class="btn col-12 col-lg-auto me-lg-auto mb-2 mb-md-0" data-bs-dismiss="modal">Cancelar</button>
              <button  type="submit" style="background-color: #203540; color:white; justify-content: flex-end;" class="btn text-end justify-content-start">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <!--modal-login-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"><br>
          <div class="modal-header">
            <a class="navbar-brand" href="#">
              <h2 style="font-family: serif; color: #FFFFF5;">Login</h2>
            </a>
            <button class="close" data-bs-dismiss="modal" aria-label="Close">
            <span class="icon-close">
              <ion-icon name="close"></ion-icon>
            </span>
           </button>
          </div>
          <form method="POST" action="{% url 'login' %}"> 
            <div class="modal-body">
              {% csrf_token %}
              <div class="input-box">
                <span class="icon">
                      <ion-icon name="mail-outline"></ion-icon>
                  </span>
                  {{ user_form.email }}
                  <label>Email</label>
              </div>
              <div class="input-box">
                  <span class="icon">
                      <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                  {{ user_form.senha }}
                  <label>Password</label>
              </div>
              <div class="remember-forgot">
                  <label><input type="checkbox">Lembre de mim</label>
                  <a href="#"> Esqueceu a senha?</a>
              </div>
            </div>
            <div class="footer-modal">
              <button class="btn-cancelar" data-bs-dismiss="modal">
                  <a class="nav-link" aria-current="page">Cancelar</a>
              </button>
              <button type="submit" class="btn-entrar">
                <a class="nav-link" aria-current="page">Entrar</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--modal-login-->
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg" style="background-color:  #FFFFF5;">
      <div class="container-fluid">
          <a class="navbar-brand" href="../">
              <h2 style="font-family: serif; color: #3D3D3D;"> <img width="50px" src="{% static 'assets/img/highFashion.png' %}" alt="HF"> High Fashion</h2>
          </a>
          <div class="d-flex justify-content-center">
            <div class="rocket-container row tm-sm-90">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../dicas">Dicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../catalogo">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../sobre">Sobre</a>
                    </li>
                </ul>
              </div>
            </div>          
          </div>
          <div class="d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" style="background-color: #203540; color: #FFFF" class="btn btn-outline-primary">Logout</a>
              {% else %}
                  <button style="background-color: #203540; color: #FFFF" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person" viewBox="2 1 18 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                      </svg>Login
                  </button>
              {% endif %}
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
    </nav>