{% load static %}
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg" style="background-color:  #FFFFF5;">
      <div class="container-fluid">
          <a class="navbar-brand" href="../">
              <h2 style="font-family: serif; color: #3D3D3D;"> <img width="50px" src="{% static 'assets/img/highFashion.png' %}" alt="HF"> High Fashion</h2>
          </a>
          <div class="d-flex justify-content-center">
            <div class="rocket-container row tm-sm-90">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../dicas">Dicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../catalogo">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../sobre">Sobre</a>
                    </li>
                </ul>
              </div>
            </div>          
          </div>
          <div class="d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="ion-navicon-round"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% if user.is_authenticated %}
                {% if user.is_staff == 1 %}
                  <a href="{% url 'dashboard' %}" style="border-color: #203540; color: #203540" class="btn btn-ver-mais mx-2">Dashboard</a>
                {% endif %}
                <a href="{% url 'logout' %}" style="background-color: #203540; color: #FFFF" class="btn btn-outline-primary">Logout</a>
              {% else %}
                  <button style="background-color: #203540; color: #FFFF" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person" viewBox="2 1 18 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                      </svg>Login
                  </button>
              {% endif %}
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
    </nav>     