{% load static %}
<!-- modal-sacola -->
  <div class="modal fade" id="exampleModalsacola" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"><br>
        <div class="modal-header">
          <a class="navbar-brand" href="#">
            <h2 style="font-family: serif; color: #FFFFF5;">Sacola</h2>
          </a>
          <button class="close" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon-close">
            <ion-icon name="close"></ion-icon>
          </span>
         </button>
        </div><br>
        <div class="modal-body">
          <!-- Componentes do carrinho de compras -->
          <div class="cart-item">
            <img src="img/5.jpg" alt="Nome do Produto" width="80px" height="80px" class="cart-item-image">
            <div class="item-details">
                <p class="cart-item-title" style="color: #FFFFF5; font-family: serif; font-size: 20px;">Nome do Produto</p>
                <p class="cart-item-price" style="color: #FFFFF5; font-family: serif; font-size: 20px;">Preço: $10.00</p>
                <p class="cart-item-quantity" style="color: #FFFFF5; font-family: serif; font-size: 20px;">Quantidade: 2
                    <span style="margin-left: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </span>
                    <span style="margin-left: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 1.5a.5.5 0 0 1 .5.5V7h5.5a.5.5 0 0 1 0 1H8V14.5a.5.5 0 0 1-1 0V8H1.5a.5.5 0 0 1 0-1H7V2a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </span>
                </p>
            </div>
          </div>
          <!-- Total do carrinho -->
          <div class="cart-total" >
            <p style="color: #FFFFF5; font-family: serif; font-size: 20px; font-weight: bold;">Total: $20.00</p>
          </div>
        </div>
        <div class="footer-modal">
          <button class="btn-cancelar" data-bs-dismiss="modal">
            <a class="nav-link" aria-current="page" href="#">Cancelar</a>
          </button>
          <button type="button" class="btn-entrar">
            <a class="nav-link" aria-current="page" href="#">Finalizar compra</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal-sacola -->
  <!--modal-login-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"><br>
                <div class="modal-header">
                    <a class="navbar-brand" href="#">
                        <h2 style="font-family: serif; color: #FFFFF5;">Login</h2>
                    </a>
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="icon-close">
                        <ion-icon name="close"></ion-icon>
                    </span>
                </button>
            </div><br><br>
        <form method="POST" action="{% url 'login' %}"> 
          <div class="modal-body">
            {% csrf_token %}
            <div class="input-box">
              <span class="icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </span>
                {{ user_form.email }}
                <label>Email</label>
            </div><br>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                  </span>
                {{ user_form.senha }}
                <label>Senha</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Lembre de mim</label>
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModalSenha" data-bs-dismiss="modal"> Esqueceu a senha?</a>
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModalRegister" data-bs-dismiss="modal"> Criar conta</a>
            </div>
          </div>
          <div class="footer-modal">
            <button class="btn-cancelar" data-bs-dismiss="modal">
                <a class="nav-link" aria-current="page">Cancelar</a>
            </button>
            <button type="submit" class="btn-entrar">
              <a class="nav-link" aria-current="page">Entrar</a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--modal-login-->
  <!-- Modal de Recuperação de Senha -->
  <div class="modal fade" id="exampleModalSenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Conteúdo do modal aqui -->
            <form method="post" action="{% url 'esqueci_senha' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p style="color:#FFFFF5;">
                        Caso você tenha esquecido sua senha, preencha com o Email no qual você esqueceu a senha e vá até
                        seu email onde enviaremos um link para <strong>Alteração de Senha</strong>
                    </p>
                    <br>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        {{ esqueci_senha.email }}
                        <label>{{ esqueci_senha.email.label }}</label>
                    </div>
                </div>
                <div class="footer-modal">
                    <button class="btn-cancelar" data-bs-dismiss="modal">
                        <a class="nav-link" aria-current="page">Cancelar</a>
                    </button>
                    <button type="submit" class="btn-entrar">
                        <a class="nav-link" aria-current="page">Enviar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!--modal-Senha-->
  <!--modal-Register-->
  <div class="modal fade" id="exampleModalRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"><br>
        <div class="modal-header">
          <a class="navbar-brand" href="#">
            <h2 style="font-family: serif; color: #FFFFF5;">Registrar</h2>
          </a>
          <button class="close" data-bs-dismiss="modal" aria-label="Close">
          <span class="icon-close">
            <ion-icon name="close"></ion-icon>
          </span>
         </button>
        </div>
        <form method="POST" action="{% url 'register' %}"> 
          <div class="modal-body">
            {% csrf_token %}
            <div class="input-box">
              <span class="icon">
                <ion-icon name="person-outline"></ion-icon>
              </span>
              {{ register_form.username }}
              <label>{{ register_form.username.label }}</label>
            </div>
            <div class="input-box">
              <span class="icon">
                <ion-icon name="person-outline"></ion-icon>
              </span>
              {{ register_form.email }}
              <label>{{ register_form.email.label }}</label>
            </div>
            <div class="input-box">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              {{ register_form.password }}
              <label>{{ register_form.password.label }}</label>
            </div>
            <div class="input-box">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              {{ register_form.password_confirm }}
              <label>{{ register_form.password_confirm.label }}</label>
            </div>
            <div class="remember-forgot">
              <label><input type="checkbox">Lembre de mim</label>
            </div>
          </div>
          <div class="footer-modal">
            <button class="btn-cancelar" data-bs-dismiss="modal">
                <a class="nav-link" aria-current="page">Cancelar</a>
            </button>
            <button type="submit" class="btn-entrar">
              <a class="nav-link" aria-current="page">Registrar</a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--modal-Register-->