{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Produtos</title>
</head>
<body>
    <h2>Lista de Produtos</h2>
    <ul>
        <li>
            <p>Quantidade de produtos: {{ quantidade_produtos }}</p>
            <!-- Adicione mais campos conforme necessário -->
        </li>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - R$ {{ produto.preco }}
                <a href="{% url 'delete_produto' produto.id %}">Excluir</a>
                <form method="post" action="{% url 'efetuar_compra' produto.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Comprar</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="pagination mt-4">
        <span class="step-links">
            {% if produtos.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ produtos.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Página {{ produto.number }} de {{ produto.paginator.num_pages }}.
            </span>
    
            {% if produtos.has_next %}
                <a href="?page={{ produtos.next_page_number }}">next</a>
                <a href="?page={{ produtos.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <a href="{% url 'adicionar_produto' %}">Adicionar Produto</a>
</body>
</html>