{% load static %}
<!--FOOTER-->
<footer style="background-color: #2B2B2B; color:white;" class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer mt-2">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="texto_rodape"> <a href="https://polarissoftwares.github.io/site/" target="_blank" rel="noopener noreferrer"><img width="30%" src="{% static 'assets/img/LogoPolaris.png' %}" alt="Polaris"></a></h3>
                <p style="color:white;">
                    O "High Fashion" é fruto da inovação e dedicação da
                        <a rel="sponsored" href="https://polarissoftwares.github.io/site/">
                         Polaris
                        </a>
                    . Como pioneiros no universo da moda, 
                    buscamos constantemente redefinir padrões, unindo design arrojado e tecnologia. 
                    Cada peça reflete nosso compromisso com a qualidade e a expressão única.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="texto_rodape">Outros Links</h3>
                <ul class="texto_rodape">
                    <li><a class="texto_rodape" href="../sobre">Sobre Nós</a></li>
                    <li><a class="texto_rodape" href="../dicas">Dicas</a></li>
                    <li><a class="texto_rodape" href="../catalogo">Nossos Produtos</a></li>
                    <li><a class="texto_rodape" href="../faq">Ajuda</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <a href="../termos" class="texto_rodape">Termos de Uso</a>
                <a href="../politica" class="texto_rodape">Política de Privacidade</a>
            </div>
        </div>
        <div class="row">
            <div class="texto_rodape">
                Copyright 2023 Polaris Company. Todos os direitos reservados.
            </div>
        </div>
    </div>
</footer>