{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

        <!-- Bootstrap CSS & JS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <!-- FONTE -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300;400&display=swap">
        <title>Empresa</title>
        <style>
          /* Estilos gerais para o formulário */
        .form-group {
            margin-bottom: 20px;
        }
        
        label {
            font-weight: bold;
            display: block;
        }
        
        /* Estilos para os inputs */
        input[type="text"],
        input[type="date"],
        input[type="number"],
        input[type="file"] {
            width: 65%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        
        /* Estilos para o botão */
        button {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #0056b3;
        }
        </style>
    </head>
    <body>
        <!-- MODAL -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <h1 class="display-6 mb-0">Login</h1>
                        </div>
                    </div>
                </div>
                <hr class="border border-2 opacity-50">
                <form>
                  <div class="mb-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="px-4 form-control rounded-pill" id="floatingEmail" placeholder="name@hotmail.com" required>
                        <label  for="floatingInput">Email</label>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="px-4 form-control rounded-pill" id="floatingPassword" placeholder="Senha" required>
                        <label for="floatingPassword">Senha</label>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div id="emailHelp" class="form-text">Esqueceu sua senha? <a href="#" style="color:#FFAE2E;">Clique aqui</a></div>
                      </div>
                      <div class="col">
                        <div id="emailHelp" class="form-text text-end me-1">Não é registrado? <a href="#" style="color:#FFAE2E;">Criar conta</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
                  </div>
                </form>
              </div>
              <div style="background-color: #FFAE2E;" class="modal-footer d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <button  type="button" style="border-color: #203540;" class="btn col-12 col-lg-auto me-lg-auto mb-2 mb-md-0" data-bs-dismiss="modal">Cancelar</button>
                <button  type="button" style="background-color: #203540; color:white" class="btn text-end justify-content-start" data-bs-dismiss="modal">Entrar</button>
              </div>
            </div>
          </div>
        </div>
        <!--BOTÃO LOGIN-->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="darkblue" class="bi bi-person" viewBox="2 1 18 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>Login
        </button>
        <!-- MODAL COMMENT-->
        <div class="modal fade" id="staticBackdropcomment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <h1 class="display-6 mb-0">Coment</h1>
                        </div>
                    </div>
                </div>
                <hr class="border border-2 opacity-50">
                <form>
                  <div class="mb-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="px-4 form-control rounded-pill" id="floatingEmail" placeholder="name@hotmail.com" required>
                        <label  for="floatingInput">Email</label>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <div id="emailHelp" class="form-text">Esqueceu sua senha? <a href="#" style="color:#FFAE2E;">Clique aqui</a></div>
                      </div>
                      <div class="col">
                        <div id="emailHelp" class="form-text text-end me-1">Não é registrado? <a href="#" style="color:#FFAE2E;">Criar conta</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
                  </div>
                </form>
              </div>
              <div style="background-color: #FFAE2E;" class="modal-footer d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <button  type="button" style="border-color: #203540;" class="btn col-12 col-lg-auto me-lg-auto mb-2 mb-md-0" data-bs-dismiss="modal">Cancelar</button>
                <button  type="button" style="background-color: #203540; color:white" class="btn text-end justify-content-start" data-bs-dismiss="modal">Entrar</button>
              </div>
            </div>
          </div>
        </div>
        <!--COMENTARIO-->
        <div  class="modal fade" id="staticBackdropFotos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="background-color: #FFAE2E;">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color:#203540">Nome da Foto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method = "POST">
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <img src="{% static 'assets/img/fotodeperfil.jpeg' %}" alt="fotodeperfil" width="100%">
                      </div>
                    </div>
                  </div>
                  <div style="display: flex;justify-content: flex-end;" class="me-1">
                    <p>160 </p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><g id="_01_align_center" data-name="01 align center"><path d="M17.5.917a6.4,6.4,0,0,0-5.5,3.3A6.4,6.4,0,0,0,6.5.917,6.8,6.8,0,0,0,0,7.967c0,6.775,10.956,14.6,11.422,14.932l.578.409.578-.409C13.044,22.569,24,14.742,24,7.967A6.8,6.8,0,0,0,17.5.917ZM12,20.846c-3.253-2.43-10-8.4-10-12.879a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,7.967h2a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,7.967C22,12.448,15.253,18.416,12,20.846Z"/></g></svg>
                    <p>11 </p>
                    <img src="{% static 'assets/img/mensagem.png' %}" alt="mensagem" width="24" height="24">
                  </div>
                  <div class="modal-footer">
                    <img src="{% static 'assets/img/mensagem.png' %}" alt="mensagem" width="24" height="24">
                    <input type="text" placeholder="Adicionar Comentário">
                    <button type="submit" class="btn btn-dark" >Enviar</button>
                  </div>
                </form>
              </div>
             </div>
            </div>
          </div>
        </div>
        <div class="center">
          <button id="comment-button" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropcomment">
              <img src="{% static 'assets/img/mensagem.png' %}" alt="mensagem" width="24" height="24">
              FOTO
          </button>
          <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropFotos">BOtão</button>
        </div>
    </body>
</html>