{% load static %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg" style="background-color:  #FFFFF5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="../">
            <h2 style="font-family: serif; color: #3D3D3D;"> <img width="50px" src="{% static 'assets/img/highFashion.png' %}" alt="HF"> High Fashion</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ion-navicon-round"></span>
        </button>
        <div class="d-flex justify-content-center">
            <div class="rocket-container row tm-sm-90">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../dicas">Dicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../catalogo">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../sobre">Sobre</a>
                    </li>
                </ul>
              </div>
            </div>          
        </div>
    </div>
  </nav>