*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '', sans-serif;
}
header {
    background-color:  #B9C2C4;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.h2 {
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*nav*/
.navbar-nav .nav-link {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #3D3D3D;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    border: 1px solid transparent;
    padding: 18px 15px;
    border-radius: 5px;
    margin: 0 15px;
}

.navbar-nav .nav-link:hover {
    color: #B9C2C4;
}




.tips-container {
    margin: 20px;
}

.tip {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tip h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #3366ff; /* Blue Color */
}

.tip p {
    font-size: 16px;
    color: #666;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

/* Custom styling for each card */
.spring { background-color: #a1d4a5; } /* Light Green */
.summer { background-color: #b3e0ff; } /* Light Blue */
.autumn { background-color: #800020; } /* Light Orange */
.winter { background-color: #793d11; } /* Light Purple */
.elegant-accessories { background-color: #ffd699; } /* Light Yellow */
.pattern-mix { background-color: #99ffcc; } /* Light Mint Green */
