{% load static %}
<header class="navbar navbar-expand-lg fixed-top" style="background-color:  #FFFFF5;">
    <div class="container-fluid">   
        <a class="navbar-brand" href="../">
            <h2 style="font-family: serif; color: #3D3D3D;"> <img width="50px" src="{% static 'assets/img/highFashion.png' %}" alt="HF"> High Fashion - Dashboard</h2>
        </a>
        <form method="GET" action="{% url 'listarFotos' %}" class="mb-3">
            <div class="searchbar d-flex input-group">
                <input type="text" name="search" placeholder="Search">
                <button type="submit" class="searchbtn">
                    <ion-icon name="search-outline" size="large" style="color:#FFFFFF ;"></ion-icon>
                </button>
            </div>
        </form>
    </div>
</header>