{% load static %}
<div class="main-container">
    <div class="navcontainer">
        <nav class="nav w-100">
            <div class="nav-upper-options">
                <a href="../" class="text-decoration-none w-100" style="color:#FFF">
                    <div class="nav-option catalogo" >
                        <h3><ion-icon name="newspaper-outline"></ion-icon> Catalogo</h3>
                    </div>
                </a>
                <a href="../dashboard" class="text-decoration-none w-100" style="color:#FFF">
                    <div class=" nav-option" > 
                        <h3><i class="ion-gear-a"></i> Dashboard</h3>
                    </div>    
                </a>

                <a href="../consulta_fotos" class="text-decoration-none w-100" style="color:#FFF">
                    <div class="nav-option" > 
                        <h3><ion-icon name="pricetags-outline"></ion-icon> Consultar Produtos</h3>
                    </div>
                </a>

                <a href="../consulta_users" class="text-decoration-none w-100" style="color:#FFF">
                    <div class="nav-option" > 
                        <h3><ion-icon name="person-outline"></ion-icon> Consultar Usuários</h3>
                    </div>
                </a>

                <a href="../add_fotos" class="text-decoration-none w-100" style="color:#FFF">
                    <div class="nav-option" >
                        <h3><ion-icon name="pricetag-outline"></ion-icon> Adicionar Produtos</h3>
                    </div>
                </a>

                <a href="../add_user" class="text-decoration-none w-100" style="color:#FFF">
                    <div class="nav-option" >
                        <h3><ion-icon name="person-add-outline"></ion-icon> Adicionar Usuários</h3>
                    </div>
                </a>

                <a href="{% url 'logout' %}" class="text-decoration-none w-100" style="color:#FFF">
                    <div class="nav-option logout" >
                        <h3><i class="ion-log-out"></i> Logout</h3>
                    </div>
                </a>
            </div>
        </nav>
    </div>