{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}
{% include 'partials/user/others/navbar.html' %}
{% include 'partials/alerts.html' %}
    <!-- carrossel -->
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'assets/img/1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/img/2.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/img/3.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><br>

      <!-- cards -->
      <h2 class="border-top border-bottom" style="font-family: serif; color: #3D3D3D;">Ultimos Lançamentos</h2><br>
      <div class="row row-cols-1 row-cols-md-3 g-4 mx-3">
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'assets/img/8.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="font-family: serif; color: #3D3D3D;" class="card-title text-left">Roupas de Luxo e Elegantes</h5>
              <a href="../catalogo">
                <button type="button" class="btn-ver-mais">
                  Ver Catálogo
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'assets/img/6.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="font-family: serif; color: #3D3D3D;" class="card-title text-left">Roupas Sociais e Casuais</h5>
              <a href="../catalogo">
                <button type="button" class="btn-ver-mais">
                  Ver Catálogo
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'assets/img/7.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="font-family: serif; color: #3D3D3D;" class="card-title text-left">Roupas Longas e Curtas</h5>
              <a href="../catalogo">
                <button type="button" class="btn-ver-mais">
                  Ver Catálogo
                </button>
              </a>
            </div>
          </div>
        </div>
      </div><br>
    <!-- cards -->
  {% include 'partials/user/footer.html' %}
{% endblock %}