{% extends 'layouts/catalogo.html' %}
{% load static %}
{% block title %}High Fashion: Catalogo{% endblock %}
{% block content %}
    {% include 'partials/user/catalog/header_catalog.html' %}
    {% include 'partials/alerts.html' %}
    <!--BARRA DE PESQUISA-->
    <div id="carouselExample" class="carousel slide position-relative">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'assets/img/compre_agora.jpg' %}" class="d-block w-100" alt="...">
                <div class="search-bar-container position-absolute top-50 start-50 translate-middle mt-1">
                    <form class="d-flex">
                        <input class="form-control me-2 search-input" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn-search" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><br>
    <h2 style="font-family: serif; color: #3D3D3D;">Últimas Atualizações</h2><br>    

    {% include 'partials/user/catalog/container_fotos.html' %}
    {% include 'partials/user/footer.html' %}  
    
{% endblock %}

    <!--MODAL LOGIN-->
    <!-- <div class="modal fade" id="staticBackdroplogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" action="{% url 'login' %}">
            <div class="modal-body">
              <div class="d-flex justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <h1 class="display-6 mb-0">Login</h1>
                    </div>
                </div>
              </div>
              <hr class="border border-2 opacity-50">
              {% csrf_token %}
                <div class="mb-3">
                    <div class="form-floating mb-3">
                      <label  for="floatingInput">Email:</label>
                      {{ user_form.email }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                      <label for="floatingPassword">Senha:</label>
                      {{ user_form.senha }}
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div id="emailHelp" class="form-text">Esqueceu sua senha? <a href="#" style="color:#FFAE2E;">Clique aqui</a></div>
                  </div>
                  <div class="col">
                    <div id="emailHelp" class="form-text text-end me-1">Não é registrado? <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropRegister" style="color:#FFAE2E;">Criar conta</a></div>
                  </div>
                </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
              </div>
            </div>
            <div style="background-color: #FFAE2E;" class="modal-footer d-flex flex-wrap gap-2 align-items-center justify-content-center justify-content-lg-start">
              <button  type="button" style="border-color: #203540;" class="btn col-12 col-lg-auto me-lg-auto mb-2 mb-md-0" data-bs-dismiss="modal">Cancelar</button>
              <button  type="submit" style="background-color: #203540; color:white; justify-content: flex-end;" class="btn text-end justify-content-start">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->